<nav class="navbar fixed-top navbar-expand-lg navbar-light navbartop navbar-goutsdfruits">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <p class="white semi-small-text">MENU</p>
    <span class="navbar-toggler-icon white"></span>
  </button>
  <div class="navbar-avatar"> <%= image_tag "madame-gazeau.jpg"%></div>
  <!-- <div class="navbar navbar-expand-sm navbar-light navbar-goutsdfruits"> -->
  <div class="collapse navbar-collapse background-green" id="navbarSupportedContent">
    <ul class="navbar-picto navbar-nav">
      <li class="nav-item lien-navbar">
        <%= link_to dashboard_path, class: " #{'active' if controller_name == 'dashboards'}"  do %>
          <%= image_tag "layout-dashboard-1.svg", id: 'mobile-img-no-display' %>
          <span>DASHBOARD</span>
        <% end %>
      </li>

      <li class="nav-item lien-navbar">
        <%= link_to products_path, class: " #{'active' if controller_name == 'products'}" do %>
        <%= image_tag "fruit-pear.svg", id: 'mobile-img-no-display' %>
        <span>PRODUITS</span>
        <% end %>
      </li>

      <li class="nav-item lien-navbar">
        <%= link_to orders_path, class: " #{'active' if controller_name == 'orders'}" do %>
          <%= image_tag "task-list-approve.svg", id: 'mobile-img-no-display' %>
          <span>COMMANDES</span>
        <% end %>
      </li class="nav-item lien-navbar">

      <li class="nav-item lien-navbar">
        <%= link_to clients_path, class: " #{'active' if controller_name == 'clients'}" do %>
          <%= image_tag "multiple-neutral-2.svg", id: 'mobile-img-no-display' %>
          <span>CLIENTS</span>
        <% end %>
      </li>
    </ul>
  </div>

  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-picto navbar-nav mr-auto">
      <li class="nav-item lien-navbar">
        <%= link_to destroy_client_session_path, method: :delete do %>
          <%= image_tag "logout-2.svg", id: 'mobile-img-no-display' %>
        <% end %>
      </li>
    </ul>
  </div>

</nav>
