<div class="navbar navbar-expand-sm navbar-light navbar-goutsdfruits">
  <div class="navbar-avatar"> <%= image_tag "madame-gazeau.jpg"%></div>
  <div>
    <ul class="list-inline">
      <li><%= image_tag "layout-dashboard-1.svg"%> <span>DASHBOARD</span></li>
      <li><%= image_tag "fruit-pear.svg"%> <span>PRODUITS</span></li>
      <li><%= image_tag "task-list-approve.svg"%> <span>COMMANDES</span></li>
      <li><%= image_tag "multiple-neutral-2.svg"%> <span>CLIENTS</span></li>
      <li><%= image_tag "analytics-pie-2.svg"%> <span>STATISTIQUES</span></li>
      <li><%= image_tag "cog.svg"%> <span>PARAMÈTRES</span></li>
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li><%= image_tag "logout-2.svg"%></li>
    </ul>

  </div>
</div>
