<nav class="navbar fixed-top navbar-expand-lg navbar-light navbartop">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <p class="green semi-small-text">MENU</p>
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag "logo-goutsdfruits.png", id: 'logo-goutsdfruits' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item lien-navbar">
        <%= link_to 'Accueil', root_path, class: "lien-navbar"%>
      </li>
      <li class="nav-item lien-navbar">
        <a class="lien-navbar" href="/pages/laferme">La ferme</a>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'Produits', products_path, class: "lien-navbar"%>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'Connexion', new_client_session_path, class: "lien-navbar" unless client_signed_in? %>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'Mes commandes', orders_path, class: "lien-navbar" if client_signed_in? %>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'Mon profil', edit_client_path(current_client.id), class: "lien-navbar" if client_signed_in? %>
      </li>
      <li class="nav-item lien-navbar">
        <%#= link_to 'Déconnexion', destroy_client_session_path, method: :delete, class: "lien-navbar" if client_signed_in? %>
        <% if client_signed_in? %>
          <%= link_to destroy_client_session_path, method: :delete do %>
            <%= image_tag "logout-2-green.svg", id: 'logout-navbartop'%>
          <% end %>
        <% end %>
      </li>
    </ul>

  </div>
  <%= image_tag "logo-agbio.jpg", id: 'logo-agbio' %>
</nav>
