<nav class="navbar fixed-top navbar-expand-lg navbar-light navbartop">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <p class="green semi-small-text">MENU</p>
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag "logo-goutsdfruits.png", id: 'logo-goutsdfruits' %>

  <div class="collapse navbar-collapse background-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item lien-navbar">
        <%= link_to 'Accueil', root_path, class: " #{'active' if current_page?('/')}" %>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'La ferme', "/pages/laferme", class: " #{'active' if current_page?('/pages/laferme')}" %>
      </li>
      <li class="nav-item lien-navbar">
        <%= link_to 'Produits', products_path, class: " #{'active' if controller_name == 'products'}" %>
      </li>
      <% unless client_signed_in? %>
        <li class="nav-item lien-navbar">
          <%= link_to 'Connexion', new_client_session_path, class: " #{'active' if current_page?('/clients/sign_in')}" %>
        </li>
      <% end %>
      <% if client_signed_in? %>
        <li class="nav-item lien-navbar">
          <%= link_to 'Mes commandes', orders_path, class: " #{'active' if controller_name == 'orders'}" %>
        </li>
        <li class="nav-item lien-navbar">
          <%= link_to 'Mon compte', edit_client_registration_path, class: " #{'active' if current_page?('/clients/edit')}" %>
        </li>
        <li class="nav-item lien-navbar">
          <%= link_to destroy_client_session_path, method: :delete do %>
            <%= image_tag "logout-2-green.svg", id: 'logout-navbartop'%>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
  <%= image_tag "logo-agbio.jpg", id: 'logo-agbio' %>
</nav>
