<div class="title-container">
  <div class="page-title">Clients
    <div class="add-new">
      <%= link_to new_client_path do %>
        <p>Ajouter un nouveau client</p>
        <%= image_tag "add-circle.svg" %>
      <% end %>
    </div>
  </div>
    <!-- FILTERS DIV -->
  <div class="container-index-filters pl60">

    <!-- Fruit filter -->
    <div id="product_fruit" class="middle-text grey-medium mr5 white">
    <%= if params[:fruit].present? then params[:fruit] else 'Fruit' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <div id="DropdownFruit" class="dropdown-content">
        <% Product.fruits.each do |fruit| %>
          <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
        <% end %>
      </div>
    </div>

    <!-- Category filter -->
    <div id="product_category" class="middle-text grey-medium mr5">
    <%= if params[:category].present? then params[:category] else 'Catégorie' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <div id="DropdownCategory" class="dropdown-content">
      <% Product.categories.each do |category| %>
        <a data-name="<%= category %>" href="#"><%= category %></a>
      <% end %>
      </div>
    </div>

    <!-- Type filter -->
    <div id="product_type" class="middle-text grey-medium mr5">
    <%= if params[:type].present? then params[:type] else 'Type' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <!-- <button class="dropbtn">Type</button> -->
      <div id="DropdownType" class="dropdown-content">
      <% Product.types.each do |type| %>
        <a data-name="<%= type %>" href="#"><%= type %></a>
      <% end %>
      </div>
    </div>

    <!-- Reset filters -->
    <%= link_to "Effacer les filtres", products_path, id: "clearing_filter_link", class: "btn middle-text grey-medium nopnom" %>
</div>
<div class="client-cards">
  <% @clients.each do |client| %>
    <div class="client-card">
      <div class="client-logo">
        <% if client.segment == "particulier" %>
          <i class="client-logo particulier fas fa-user-alt"></i>
        <% elsif client.segment == "amap" %>
          <i class="client-logo amap fas fas fa-user-alt"><p class="fas fa-tractor"></p></i>
        <% elsif client.segment == "marché" %>
          <i class="client-logo marche fas fa-store"></i>
        <% elsif client.segment == "magasin" %>
          <i class="client-logo magasin fas fa-store-alt"></i>
        <% elsif client.segment == "CE" %>
          <i class="client-logo ce fas fa-building"></i>
        <% end %>
      </div>
      <div class="client-info">
        <p class="big-text-bold grey-dark client-name"><%= client.full_name %></p>
        <p class="semi-small-text-bold"><%= client.city %></p>
        <p class="small-text grey-medium client-index-details"><%= client.phone.unpack("A2A2A2A2A2").join(" ") %></p>
        <p class="small-text grey-medium client-index-details"><%= client.email %></p>
      </div>
    </div>
  <% end %>
</div>
