<div class="title-container title-client">

  <!-- FILTERS DIV -->
  <div class="container-index-filters">

    <!-- Segment filter -->
    <div id="client_segment" class="middle-text grey-medium mr5">
      <%= if params[:segment].present? then params[:segment] else 'Segment' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium prfilters"></i>
      <div id="DropdownSegment" class="dropdown-content">
        <% Client.segments_to_display.each do |segment| %>
          <a data-name="<%= segment %>" href="#"><%= segment %></a>
        <% end %>
      </div>
    </div>

    <!-- AMAP filter -->
    <div id="client_amap" class="middle-text grey-medium mr5">
      <%= if params[:amap].present? then params[:amap] else 'Amap' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium prfilters"></i>
      <div id="DropdownAmap" class="dropdown-content">
        <% Client.amap_to_display.each do |amap| %>
          <a data-name="<%= amap %>" href="#"><%= amap %></a>
        <% end %>
      </div>
    </div>

  </div>
<!--   <div class="add-new">
    <%#= link_to new_client_path do %>
      <p>Ajouter un client</p>
      <%#= image_tag "add-circle.svg" %>
    <%# end %>
  </div> -->

</div>
<div class="client-cards">
  <% @clients.each do |client| %>
    <div class="client-card">
      <div class="client-logo">
         <% if client.amap != "Non-membre" %>
          <i class="client-logo amap fas fas fa-user-alt"><p class="fas fa-tractor"></p></i>
        <% elsif client.segment == "particulier" %>
          <i class="client-logo particulier fas fa-user-alt"></i>
        <% elsif client.segment == "marché" %>
          <i class="client-logo marche fas fa-store"></i>
        <% elsif client.segment == "magasin" %>
          <i class="client-logo magasin fas fa-store-alt"></i>
        <% elsif client.segment == "CE" %>
          <i class="client-logo ce fas fa-building"></i>
        <% end %>
      </div>
      <div class="client-info">
        <div class="client-name-delete">
          <p class="big-text-bold grey-dark client-name"><%= client.full_name %></p>
          <%= link_to client_path(client.id), data: { confirm: ("Etes-vous sûr(e) de vouloir supprimer ce client ?") }, method: :delete do %>
          <i class="far fa-trash-alt green"></i>
          <% end %>
        </div>
        <p class="semi-small-text-bold"><%= client.city %></p>
        <p class="small-text grey-medium client-index-details"><%= client.phone.unpack("A2A2A2A2A2").join(" ") %></p>
        <p class="small-text grey-medium client-index-details"><%= client.email %></p>
        <% if client.amap != "Non-membre" %>
          <p class="small-text grey-medium client-index-details"><%= client.amap %></p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
