<div class="title-container">
  <div class="page-title"><!-- Clients -->
    <div class="add-new">
      <%= link_to new_client_path do %>
        <p>Ajouter un nouveau client</p>
        <%= image_tag "add-circle.svg" %>
      <% end %>
    </div>
  </div>
    <!-- FILTERS DIV -->
  <div class="container-index-filters sticky-top filterstick pl4rem">

    <!-- Segment filter -->
    <div id="client_segment" class="middle-text grey-medium mr5">
      <%= if params[:segment].present? then params[:segment] else 'Segment' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <div id="DropdownSegment" class="dropdown-content">
        <% Client.segments.each do |segment| %>
          <a data-name="<%= segment %>" href="#"><%= segment %></a>
        <% end %>
      </div>
    </div>

    <!-- Reset filters -->
    <%= link_to "Effacer le filtre", clients_path, id: "clearing_filter_link", class: "btn middle-text grey-medium nopnom" %>
  </div>
</div>
<div class="client-cards">
  <% @clients.each do |client| %>
    <div class="client-card">
      <div class="client-logo">
         <% if client.amap != "Non-membre" %>
          <i class="client-logo amap fas fas fa-user-alt"><p class="fas fa-tractor"></p></i>
        <% elsif client.segment == "particulier" %>
          <i class="client-logo particulier fas fa-user-alt"></i>
        <% elsif client.segment == "marché" %>
          <i class="client-logo marche fas fa-store"></i>
        <% elsif client.segment == "magasin" %>
          <i class="client-logo magasin fas fa-store-alt"></i>
        <% elsif client.segment == "CE" %>
          <i class="client-logo ce fas fa-building"></i>
        <% end %>
      </div>
      <div class="client-info">
        <p class="big-text-bold grey-dark client-name"><%= client.full_name %></p>
        <p class="semi-small-text-bold"><%= client.city %></p>
        <p class="small-text grey-medium client-index-details"><%= client.phone.unpack("A2A2A2A2A2").join(" ") %></p>
        <p class="small-text grey-medium client-index-details"><%= client.email %></p>
      </div>
    </div>
  <% end %>
</div>
