

<div class="date-page-order-index">
    <%= image_tag 'calendar-3-light-green.svg' %>
    <p><%= Date.today %> </p>
</div>


<div class="header-order-index">
  <h1 class="ml-5 page-title d-flex align-items-center"> Commandes</h1>
  <div class="add-order ">
    <%= link_to "#" do %>
      <p class="ml-5">Ajouter une commande</p>
      <%= image_tag "add-circle.svg" %>
    <% end %>
</div>

</div>
<!-- <div class="order-index"> -->
  <% @orders.each do |order| %>
    <div>
      <div class="d-flex justify-content-between order-index ">
        <div class="d-flex align-items-center">
            <span class="small-text-bold green-light mx-3">#Order n°<%= order.id %></span>
            <span class="small-text-bold grey-dark mx-4 "> <%= order.date %></span>
            <h2 class="order-index-name mx-4"><%= order.client.first_name %> <%= order.client.last_name %> </h2>
        </div>
        <div class="d-flex align-items-center ">
          <!-- prix -->
          <div>
            <h1 class="font-price-order-index ml-5 "><%= order.total_price_cents / 100 %> <sup class="sup-price"> € </sup> </h1>
          </div>
          <!-- picto -->
          <div class="order-card-picto py-2 widthpicto">

            <% if order.status=="pending" %>

              <div class="action-picto waiting-action">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
              </div>
              <div class="action-picto">
                <i class="fas fa-truck"></i>
              </div>
              <div class="action-picto">
                <i class="fas fa-receipt"></i>
              </div>

            <% elsif order.status =="prepared" %>

              <div class="action-picto done-action">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
              </div>
              <div class="action-picto waiting-action">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
              </div>
              <div class="action-picto ">
                <i class="fas fa-receipt"></i>
              </div>

            <% elsif order.status =="delivered"%>

              <div class="action-picto done-action">
                <i class="fas fa-check"></i>
              </div>
              <div class="action-picto done-action">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-shipping-fast"%>
              </div>
              <div class="action-picto waiting-action">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
              </div>

            <% else %>

              <div class="action-picto done-action">
                <i class="fas fa-check"></i>
              </div>
              <div class="action-picto done-action">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <div class="action-picto done-action">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
              </div>

            <% end %>
          </div>

          <div class="order-card-picto collapse-btn mx-4">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#order-<%=order.id %>" aria-expanded="true" aria-controls="order-<%=order.id %>">
              <i class="fas fa" aria-hidden="true"></i>
            </button>
          </div>

        </div>

    </div>


  <!-- ORDER LINES + ADDRESS -->

      <div class="collapse" id="order-<%=order.id %>">
        <div class="card card-body order-card-collapsed-dashboard mg20">
          <div class="order-lines-dashboard orga-card">
            <div class="order-lines">
            <% order.order_lines.each do |order_line| %>

                <div class="order-index-bottom order-line">
                    <p class="product-name"><%= order_line.product.name %></p>

                    <div class="price">
                      <p><%= order_line.quantity %> x <%= order_line.product.unit_price_cents / 100 %> €</p>
                    </div>
                      <p class="index-total-price "><%= order_line.total_price_cents / 100 %> <sup class="sup-price"> € </sup> </p>
                </div>


            <% end %>
            </div>

              <div class="order-address-dashboard bottom-right-dash">
                <p class="name"><%= order.client.first_name %> <%= order.client.last_name %></p>
                <div class="line-address"></div>
                <p class="address"><%= order.client.address %></p>
                <p class="address"><%= order.client.post_code %> <%= order.client.city %></p>
              </div>

        </div>
      </div>
    </div>
  <% end %>
<!-- </div> -->

