<!-- classes used below are from product index -->

<% if client_signed_in? && current_client.role == "admin" %>
  <div class="container">
    <div class="col-12 col-lg-12 title-container order-title-container">
        <!-- FILTERS DIV -->
      <div class="container-index-filters">
        <!-- Segment filter -->
        <div id="order_client_segment" class="middle-text grey-medium mr5">
          <%= if params[:segment_order].present? then params[:segment_order] else 'Segment' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text grey-medium prfilters"></i>
          <div id="dropdownSegmentOrders" class="dropdown-content">
            <a data-name="particulier" href="#">particulier</a>
            <a data-name="AMAP" href="#">AMAP</a>
            <a data-name="marché" href="#">marché</a>
            <a data-name="magasin" href="#">magasin</a>
            <a data-name="CE" href="#">CE</a>
          </div>
        </div>
        <!-- Status filter -->
        <div id="order_status" class="middle-text grey-medium mr5">
          <%= if params[:status].present? then params[:status] else 'Statut' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text grey-medium prfilters"></i>
          <div id="dropdownStatusOrders" class="dropdown-content dropdown-status">
            <a data-name="A préparer" href="#">A préparer</a>
            <a data-name="Prêtes / A livrer" href="#">Prêtes / A livrer</a>
            <a data-name="Livrées / Non-payées" href="#">Livrées / Non-payées</a>
            <a data-name="Payées" href="#">Payées</a>
          </div>
        </div>
        <!-- Delivery place filter -->
        <div id="order_delivery_place" class="middle-text grey-medium mr5">
          <%= if params[:delivery_place].present? then params[:delivery_place] else 'Lieu de livraison' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text grey-medium prfilters"></i>
          <div id="dropdownDeliveryOrders" class="dropdown-content dropdown-status">
            <% DeliveryPlace.all.each do |delivery| %>
              <a data-name="<%= delivery.name %>" href="#"><%= delivery.name %></a>
            <% end %>
          </div>
        </div>
        <!-- Reset filters -->
        <%= link_to "Effacer les filtres", orders_path, id: "clearing_filter_link", class: "btn middle-text-resp grey-medium nopnom" %>
      </div>
      <div class="add-new">
        <%= link_to new_order_path do %>
          <p>Ajouter une commande</p>
          <%= image_tag "add-circle.svg" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<div class="container container-orders">

  <div class="index-orders">
    <% @orders.each do |order| %>
      <div class="card order-card-index-main order-card-collapsed-index">
        <div class="row justify-content-center align-items-center">

          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-between align-items-center order-card-header-index">
              <div>
                <p class="small-text-bold grey-medium mb-0">#GF<%= order.id %></p>
                <h1 class="name-font-index"><%= order.client.first_name %> <%= order.client.last_name %> </h1>
              </div>
              <h1 class="price-font-index"><%= order.total_price_cents.to_f / 100 %> <sup class="sup-price"> € </sup> </h1>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="delivery-index">
              <p class="middle-text grey-medium font-italic" title="Livraison"> <%= order.pickup_date %> - <%= order.delivery_place.name %></p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="d-flex justify-content-between align-items-center order-card-header-bottom-part-index">

              <!-- PICTO -->
              <div class="justify-content-between">
                <div class="order-card-picto-index">

                  <% if client_signed_in? && current_client.role == "admin" %>
                    <% if order.status=="pending" %>


                      <div class="action-picto-index waiting-action-index" title="Marquer comme prête">
                        <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-clock"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index" title="Marquer comme livrée">
                        <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index" title="Marquer comme payée">
                        <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
                      </div>

                    <% elsif order.status =="prepared" %>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index waiting-action-index" title="Marquer comme livrée">
                        <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index" title="Marquer comme payée">
                        <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
                      </div>

                    <% elsif order.status =="delivered"%>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Livrée">
                        <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-shipping-fast"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index waiting-action-index" title="Marquer comme payée">
                        <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
                      </div>

                    <% else %>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Livrée">
                        <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-shipping-fast"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Payée">
                        <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-euro-sign"%>
                      </div>

                    <% end %>

                  <% else %>

                    <% if order.status=="pending" %>


                      <div class="action-picto-index waiting-action-index" title="En préparation">
                        <%= link_to "", "", class: "fas fa-clock"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index">
                        <%= link_to "", "", class: "fas fa-truck"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index">
                        <%= link_to "", "", class: "fas fa-receipt"%>
                      </div>

                    <% elsif order.status =="prepared" %>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", "", class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index waiting-action-index" title="En cours de livraison">
                        <%= link_to "", "", class: "fas fa-truck"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index">
                        <%= link_to "", "", class: "fas fa-receipt"%>
                      </div>

                    <% elsif order.status =="delivered"%>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", "", class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Livrée">
                        <%= link_to "", "", class: "fas fa-shipping-fast"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index waiting-action-index" title="Commande à payer">
                        <%= link_to "", "", class: "fas fa-receipt"%>
                      </div>

                    <% else %>

                      <div class="action-picto-index done-action-index" title="Prête">
                        <%= link_to "", "", class: "fas fa-check"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Livrée">
                        <%= link_to "", "", class: "fas fa-shipping-fast"%>
                      </div>
                      <div class="underline-index"></div>
                      <div class="action-picto-index done-action-index" title="Payée">
                        <%= link_to "", "", class: "fas fa-euro-sign"%>
                      </div>

                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="order-card-picto-index collapse-btn-index">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#order-<%=order.id %>" aria-expanded="true" aria-controls="order-<%=order.id %>">
                  <i class="fas fa" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">

          <div class="col-12">
        <!-- <div class="card order-card-index-main order-card-collapsed-index"> -->
          <!-- ORDER LINES + ADDRESS -->
          <!-- <div class="line-order-card-index"></div> -->
            <div class="collapse" id="order-<%=order.id %>">
              <div class="card card-body order-card-collapsed-index">
                <div class="order-lines-index">
                  <% order.order_lines.each do |order_line| %>
                    <div class="order-line">
                      <p class="product-name"><%= order_line.product.name %></p>
                      <div class="price">
                        <div class="unit-price">
                          <% if current_client && current_client.segment == "magasin" %>
                            <p><%= order_line.quantity %> x <%= order_line.product.unit_price_cents_shop.to_f / 100 %> <sup class="sup-price"> € </sup></p>
                          <% else %>
                            <p><%= order_line.quantity %> x <%= order_line.product.unit_price_cents.to_f / 100 %> <sup class="sup-price"> € </sup></p>
                          <% end %>
                        </div>
                        <div class="separation"></div>
                        <div class="total-price">
                          <p><%= order_line.total_price_cents.to_f / 100 %><sup class="sup-price"> €</sup></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <!-- <div class="order-address-index"> -->
                  <!-- <p class="name"><%= order.client.first_name %> <%= order.client.last_name %></p> -->
                  <!-- <div class="line-address"></div> -->
                  <!-- <p class="address"><%= order.client.address %></p> -->
                  <!-- <p class="address"><%= order.client.post_code %> <%= order.client.city %></p> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


