<div class="page-title">
  <p>Commandes</p>
  <div class="add-new">
    <%= link_to new_order_path do %>
      <p>Ajouter une commande</p>
      <%= image_tag "add-circle.svg" %>
    <% end %>
  </div>
</div>


<!-- <div class="order-index"> -->
  <% @orders.each do |order| %>
    <div>
      <div class="d-flex justify-content-between order-index ">
        <div class="d-flex align-items-center">
            <span class="middle-text-bold  green-light mx-3">#GF<%= order.id %></span>
            <span class="middle-text grey-medium mx-4 "> <%= order.date %></span>
            <h2 class="order-index-name mx-4"><%= order.client.first_name %> <%= order.client.last_name %> </h2>
        </div>
        <div class="d-flex align-items-center ">
          <!-- prix -->
          <div class="underline-index-orders"></div>
          <div class="total-price-order-index">
            <h1 class="font-price-order-index ml-5 "><%= order.total_price_cents / 100 %> <sup class="sup-price"> € </sup> </h1>
          </div>
          <!-- picto -->
          <div class="order-card-picto py-2 widthpicto">

            <% if order.status=="pending" %>


              <div class="action-picto waiting-action" title="Marquer comme prête">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-clock"%>
              </div>
              <div class="action-picto" title="Marquer comme livrée">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
              </div>
              <div class="action-picto" title="Marquer comme payée">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
              </div>

            <% elsif order.status =="prepared" %>

              <div class="action-picto done-action" title="Prête">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
              </div>
              <div class="action-picto" title="Marquer comme livrée">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
              </div>
              <div class="action-picto waiting-action" title="Marquer comme payée">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-receipt"%>
              </div>

            <% elsif order.status =="paid"%>

              <div class="action-picto done-action" title="Prête">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
              </div>
              <div class="action-picto waiting-action" title="Marquer comme livrée">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-truck"%>
              </div>
              <div class="action-picto done-action" title="Payée">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-euro-sign"%>
              </div>

            <% else %>

              <div class="action-picto done-action" title="Prête">
                <%= link_to "", prepare_order_path(order.id), method: :patch, class: "fas fa-check"%>
              </div>
              <div class="action-picto done-action" title="Livrée">
                <%= link_to "", deliver_order_path(order.id), method: :patch, class: "fas fa-shipping-fast"%>
              </div>
              <div class="action-picto done-action" title="Payée">
                <%= link_to "", pay_order_path(order.id), method: :patch, class: "fas fa-euro-sign"%>
              </div>

            <% end %>
          </div>

          <div class="order-card-picto collapse-btn mx-4">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#order-<%=order.id %>" aria-expanded="true" aria-controls="order-<%=order.id %>">
              <i class="fas fa" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>


  <!-- ORDER LINES + ADDRESS -->

      <div class="collapse" id="order-<%=order.id %>">
        <div class="card card-body order-card-collapsed-dashboard mg20">
          <div class="order-lines-index orga-card">
            <div class="order-lines-index">
              <% order.order_lines.each do |order_line| %>
                <div class="order-line">
                  <p class="product-name"><%= order_line.product.name %></p>
                  <div class="price">
                    <p class="unit-price"><%= order_line.quantity %> x <%= order_line.product.unit_price_cents / 100 %> <sup class="sup-price"> € </sup></p>
                    <div class="separation"></div>
                    <p class="total-price"><%= order_line.total_price_cents.to_i / 100 %> <sup class="sup-price"> € </sup> </p>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- <div class="order-lines">
            <%# order.order_lines.each do |order_line| %>

                <div class="order-index-bottom order-line">
                    <p class="product-name"><%#= order_line.product.name %></p>

                    <div class="price">
                      <p><%#= order_line.quantity %> x <%#= order_line.product.unit_price_cents / 100 %> €</p>
                    </div>
                      <h1 class="index-total-price "><%#= order_line.total_price_cents / 100 %> <sup class="sup-price"> € </sup> </h1>
                </div>


            <%# end %>
            </div> -->

              <div class="order-address-index bottom-right-dash">
                <p class="name"><%= order.client.first_name %> <%= order.client.last_name %></p>
                <div class="line-address"></div>
                <p class="address"><%= order.client.address %></p>
                <p class="address"><%= order.client.post_code %> <%= order.client.city %></p>
              </div>

        </div>
      </div>
    </div>
  <% end %>
<!-- </div> -->

