<div class="new-order-main-container" >
  <div class="container new-order">
    <div class="new-order-title">
      <p>Nouvelle commande</p>
    </div>
      <p class="text-center small-text font-italic red-alert pb-4">(NB : ne pas utiliser ce formulaire pour une commande magasin)</p>
    <div class="container">
      <%= simple_form_for @order, wrapper: :floating_labels_form, wrapper_mappings: { select: :floating_labels_select } do |ff| %>
          <%= ff.association :client, label_method: :full_name, input_html: { class: 'client-input select2' }, label: false, prompt: "Sélectionner un client" %>
        <p class>Ajouter des produits</p>
        <div class="order-line">
          <div class="form-inline">
            <script>
              // let prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents).to_h.to_json %>');
              // Òlet remainingQuantities = JSON.parse('<%= raw Product.remaining_quantities(current_client).to_h.to_json %>');
            </script>
            <%= ff.simple_fields_for :order_lines, wrapper: :inline_form do |f| %>
              <%= render 'order_line_fields', f: f %>
                <%= link_to_add_fields ff, :order_lines do %>
                  <i class="fas fa-plus"></i>
                <%#= image_tag "add-circle.svg", :class => "img_preview" %>
                <% end %>
            <% end %>
          </div>
        </div>
          <p class="pt-2">Date de préparation souhaitée</p>
          <%= ff.input :pickup_date, label: false %>
          <p class="pt-2">Lieu de livraison</p>
          <%= ff.association :delivery_place, label_method: :name, input_html: { class: 'client-input select2' }, label: false, prompt: "Sélectionner un lieu de livraison" %>
          <p class="float-right bold pt-5 pb-4">
            Prix total : <span id="totalprice">0</span><sup> €</sup>
          </p>

        <!-- <fieldset class="form-group radio_buttons optional order_payment_method">
          <label class="control-label check_boxes optional payment-label">Méthode de paiement :</label>
          <input type="hidden" name="order[payment_method]" value="">
          <div class="payment-choices">
            <div class="payment-choice form-check">
              <label for="order_payment_method_espèces">
                <i class="fas fa-piggy-bank"></i>
                <p>Espèces</p>
              </label>

              <input type="radio" class="form-check-input radio_buttons optional hidden", value="especes" name="order[payment_method]" id="order_payment_method_especes">

            </div>
            <div class="payment-choice form-check">
              <label for="order_payment_method_carte_bancaire">
                <i class="fab fa-cc-visa"></i>
                <p>Carte</p>
              </label>
              <input class="form-check-input radio_buttons optional hidden" type="radio" value="carte" name="order[payment_method]" id="order_payment_method_carte">
            </div>
            <div class="payment-choice form-check">
              <label for="order_payment_method_paypal">
                <i class="fab fa-paypal"></i>
                <p>Paypal</p>
              </label>
              <input class="form-check-input radio_buttons optional hidden" type="radio" value="paypal" name="order[payment_method]" id="order_payment_method_paypal">
            </div>
            <div class="payment-choice form-check">
              <label for="order_payment_method_chèque">
                <i class="fas fa-money-check"></i>
                <p>Chèque</p>
              </label>
              <input class="form-check-input radio_buttons optional hidden" type="radio" value="cheque" name="order[payment_method]" id="order_payment_method_cheque">
            </div>
          </div>
        </fieldset> -->
        <%#= ff.input :payment_method, as: :radio_buttons, collection: ["cheque", "cash"]%>
        <%= ff.submit 'Valider la commande', class: 'btn btn-lg btn-block submit-btn mb-4' %>
      <% end %>
    </div>
  </div>
</div>
