<div class="banner">
  <div class="container text-center">
    <h1 class="pt-5 pb-5">Goûts d’Fruits : la ferme fruitière du Nord Deux-Sèvres de Marie Gazeau</h1>
    <p class="pt-4 pb-4">Goûts d’Fruits vous propose des fruits bios et de saison mais aussi une pépinière d’arbres fruitiers et de nombreuses douceurs : gelées, sirops, coulis, compotes, fruits déshydratés, sorbets, fruits au sirop, pâtes de fruits, gâteaux...</p>
    <p class="pt-4 pb-4">Des fruits frais aux desserts gourmands, tout est produit à la ferme et vendu en circuits courts sur le bocage bressuirais.</p>
    <p class="pt-4 pb-5">Venez découvrir <a href="/pages/laferme">ce verger</a> certifié en agriculture biologique et <a href="/products">commandez</a> directement en ligne !</p>
    <div class="row">
      <!-- <div class="imghome col-xs-12 col-sm-6 col-md-2 offset-md-1 pt-2 pt-md-4"><%= image_tag "hp-pomme.jpg" %></div>
      <div class="imghome col-xs-12 col-sm-6 col-md-2 pt-2 pt-md-4"><%= image_tag "hp-cerise.jpg" %></div>
      <div class="imghome col-xs-12 col-sm-6 col-md-2 pt-2 pt-md-4"><%= image_tag "hp-fraises.jpg" %></div>
      <div class="imghome col-xs-12 col-sm-6 col-md-2 pt-2 pt-md-4"><%= image_tag "hp-financiers.jpg" %></div>
      <div class="imghome col-xs-12 col-sm-6 col-md-2 pt-2 pb-4 pb-md-4 pt-md-4"><%= image_tag "hp-gelee-coing.jpg" %></div> -->
    </div>
</div>
