<div class="container mt-5 mb-5">

  <h2><%= link_to ("Créer un nouveau compte"), new_registration_path(resource_name) %></h2>


  <h2 class="pt-5 pb-3 grey-dark"><%= t(".sign_in") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { class: 'mb-4', autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { class: 'mb-4', autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_in"), class: 'btn btn-lg btn-block submit-btn-green mb-4' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
