<div class="d-flex justify-content-between">
  <h1 class="data-amount pb-4 mr-n5">Produits phares</h1>
  <h1 class="data-amount pb-4">Ventes</h1> <span></span>
</div>
<div class="stats-data-card-grid">
  <div class="stats-data-card">
    <div class="stats-data-infos top-products">
      <% @top_products.each do |top_product| %>
      <div class="card-best-product">
        <%= cl_image_tag top_product.photo.key%>
        <div class ="d-flex justify-content-between flex-direction-column w-100"><p class="mb-0 pl-4"> <%= top_product.name %></p>
        <span> <%= top_product.total_quantity %>&nbsp;<%= top_product.unit_type.pluralize(top_product.total_remaining_quantity) %></span>
        </div>
      </div>
       <% end %>
    </div>
  </div>

  <div class="stats-data-card" >
    <div class="stats-data-infos graph" id="chartContainer" data-current-month-order="<%= orders_total_current_month %>">
      <!-- <canvas id="vente_chart"> </canvas> --> <!-- Inserted with JS (initchart.js) -->
    </div>
  </div>

</div>


