<!-- ATTENTION A LUTILISATION DE BALISES SPAN AVEC DATA-UUID DANS CETTE PAGE (CF. COUNTER.JS) -->

<!-- Modal product description -->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <!--     <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Détail produit</h5>
      </div> -->
      <div class="modal-body">
        <span id="product_description"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="client-new-order">

  <% if client_non_admin? %>
  <!-- affichage du prix total commande et button validation cmd -->
    <div class="col-6 col-lg-3 product-index-new-order">
        <%= simple_form_for @order do |ff| %>
          <div class="bold">
            Total : <span id="totalpriceproductindex">0</span><sup> €</sup>
          </div>
          <div style="display:none;">
            <%= ff.simple_fields_for :order_lines, wrapper: :inline_form do |f| %>
              <%= render '/orders/order_line_fields', f: f %>
            <% end %>
          </div>
          <div>
            <%= ff.submit 'Valider la commande', class: 'btn btn-block submit-btn-green middle-text-resp bold text-wrap' %>
          </div>
        <% end %>
    </div>
  <% end %>

  <% if client_not_logged? %> <!-- affichage d'un button link pour se connecter -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 pb-2 no-underline">
        <%= link_to new_client_session_path do %>
          <button type="button" class="btn btn-block submit-btn-green-no-width semi-small-text-bold-resp bold text-wrap mt-2">Veuillez vous connecter pour passer une commande</button>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-12">
    <div class="title-container">

      <!-- FILTERS DIV -->
      <div class="container-index-filters bg-white">

        <!-- Fruit filter -->
        <!-- <div id="product_fruit" class="middle-text-resp grey-medium mr5 pt04rem">
          <%= if params[:fruit].present? then params[:fruit] else 'Fruit' end %>
        </div>
        <div class="dropdown pt04rem">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownFruit" class="dropdown-content">
            <% if (client_not_logged? || current_client.role != "admin") %>
              <% products_fruits_to_display_positive_stock.each do |fruit| %>
                <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
              <% end %>
            <% else %>
              <% products_fruits_to_display.each do |fruit| %>
                <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
              <% end %>
            <% end %>
          </div>
        </div> -->

        <!-- Type filter -->
        <!-- <div id="product_type" class="middle-text-resp grey-medium mr5 pt04rem">
          <%= if params[:type].present? then params[:type] else 'Type' end %>
        </div>
        <div class="dropdown pt04rem">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownType" class="dropdown-content">
              <% products_types_to_display.each do |type| %>
                <a data-name="<%= type %>" href="#"><%= type %></a>
              <% end %>
          </div>
        </div> -->

        <!-- Price filter -->
        <%# if client_admin? %>
          <!-- <div id="product_price" class="middle-text-resp grey-medium mr5 pt04rem"> -->
            <%#= if params[:price].present? then params[:price] else 'Prix' end %>
          <!-- </div>
          <div class="dropdown pt04rem">
            <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
            <div id="DropdownPrice" class="dropdown-content">
              <a data-name="non-magasin" href="#">non-magasin</a>
              <a data-name="magasin" href="#">magasin</a>
            </div>
          </div> -->
        <%# end %>

        <!-- Search bar -->
        <div class="middle-text-resp grey-medium mr5">
          <%= simple_form_for :search, url: search_products_path, method: "GET", html: { class: 'form-inline', id: 'product-search' }, remote: true do |f| %>
          <!-- https://medium.com/le-wagon/build-a-simple-search-with-the-simple-form-gem-in-rails-5-b247168282d1   -->
            <!-- 1. The first thing is the :search . Typically, we create the form for an instance variable when manipulating a model (i.e. @product) ). If I try to call the parameter @search, the application will tell me that the variable is undefined. By setting it as a symbol with the colon before :search, I can use it as a key in my params hash. -->
            <!-- 2. The url of the search form tells us on which page the results will be displayed. -->
            <!-- 3. By default, a simple_form has the method POST. Since a search is a GET request, we need to explicitly specify that in the first line. -->
            <!-- 4. The input :name is going to be a key inside of my params hash. The value is the keyword the user searches for. In order to reset the form on page refresh, I am giving it a default value of blank. -->
            <%= f.hidden_field :type_price, value: @type_price %>
            <%= f.input :price, collection: ['non-magasin','magasin'], label: false, selected: 'non-magasin' %>
            <%= f.input :fruit, collection: products_fruits_to_display, label: false, selected: 'Fruit' %>
            <%= f.input :type, collection: products_types_to_display, label: false, selected: 'Type' %>
            <%= f.input :name, label: false, placeholder: "Rechercher...", input_html: { class: 'width80px mr5', value: "" } %>
            <%= button_tag type: 'submit', class: 'pl-2 no-border' do %>
            <!-- After clicking submit, the program will reload the index product page, but this time with a :search param hash including the value typed by the user in the key name. -->
              <i class="fas fa-search grey-medium middle-text-resp"></i>
            <% end %>
          <% end %>
        </div>

      </div>

      <!-- Add product button: only for admin -->
      <% if client_admin? %>
        <div class="add-new pt-3">
          <%= link_to new_product_path do %>
            <p>Ajouter un produit</p>
            <%= image_tag "add-circle.svg" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- <script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script> -->
<!-- for JSON5 -->
<script>
<% if (client_shop?) %>
    var prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents_shop).to_h.to_json %>');
<% else %>
    var prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents).to_h.to_json %>');
<% end %>
    var remainingQuantities = JSON.parse('<%= raw Product.remaining_quantities(current_client).to_h.to_json %>');
    var ratiosQuantities = JSON.parse('<%= raw Product.ratios_quantities(current_client).to_h.to_json %>');
    var descriptions = JSON.parse('<%= raw Product.descriptions.to_h.to_json %>');
</script>

<div class="main-container">

  <div class="container-index-products">
    <%= render 'products', products: @products, type_price: @type_price %>
  </div>

</div>

<div class="main-container">
  <span id="JSwarningemptyfilter" class="font-italic pl-5"></span>
</div>
