<!-- ATTENTIO A LUTILISATION DE BALISES SPAN AVEC DATA-UUID DANS CETTE PAGE (CF. COUNTER.JS) -->

<!-- Modal product description -->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <!--     <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Détail produit</h5>
      </div> -->
      <div class="modal-body">
        <span id="product_description"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="client-new-order">

  <% if (current_client && current_client.role != "admin") %>
  <!-- affichage du prix total commande et button validation cmd -->
    <div class="col-6 col-lg-3 product-index-new-order">
        <%= simple_form_for @order do |ff| %>
          <div class="bold">
            Total : <span id="totalpriceproductindex">0</span><sup> €</sup>
          </div>
          <div style="display:none;">
            <%= ff.simple_fields_for :order_lines, wrapper: :inline_form do |f| %>
              <%= render '/orders/order_line_fields', f: f %>
            <% end %>
          </div>
          <div>
            <%= ff.submit 'Valider la commande', class: 'btn btn-block submit-btn-green middle-text-resp bold text-wrap' %>
          </div>
        <% end %>
    </div>

  <% end %>
  <% if current_client.nil? %>
  <!-- affichage d'un button link pour se connecter -->
    <div class="text-center pb-2">
      <%= link_to new_client_session_path do %>
        <button type="button" class="btn submit-btn-green-total-width middle-text-resp bold">Veuillez vous connecter pour passer une commande</button>
      <% end %>
    </div>
  <% end %>

  <div class="col-12 col-lg-12">
    <div class="title-container">
      <!-- FILTERS DIV -->
      <div class="container-index-filters">
          <!-- Fruit filter -->
        <div id="product_fruit" class="middle-text-resp grey-medium mr5 white">
        <%= if params[:fruit].present? then params[:fruit] else 'Fruit' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownFruit" class="dropdown-content">
            <% Product.fruits.each do |fruit| %>
              <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
            <% end %>
          </div>
        </div>
        <!-- Category filter -->
        <div id="product_category" class="middle-text-resp grey-medium mr5">
        <%= if params[:category].present? then params[:category] else 'Catégorie' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownCategory" class="dropdown-content">
          <% Product.categories.each do |category| %>
            <a data-name="<%= category %>" href="#"><%= category %></a>
          <% end %>
          </div>
        </div>
        <!-- Type filter -->
        <div id="product_type" class="middle-text-resp grey-medium mr5">
        <%= if params[:type].present? then params[:type] else 'Type' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownType" class="dropdown-content">
          <% Product.types.each do |type| %>
            <a data-name="<%= type %>" href="#"><%= type %></a>
          <% end %>
          </div>
        </div>
        <!-- Price filter -->
        <% if current_client && current_client.role == "admin" %>
          <div id="product_price" class="middle-text-resp grey-medium mr5">
            <%= if params[:price].present? then params[:price] else 'Prix' end %>
          </div>
          <div class="dropdown">
            <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
            <div id="DropdownPrice" class="dropdown-content">
              <a data-name="non-magasin" href="#">non-magasin</a>
              <a data-name="magasin" href="#">magasin</a>
            </div>
          </div>
        <% end %>
        <!-- Reset filters -->
        <%= link_to "Effacer les filtres", products_path, id: "clearing_filter_link", class: "btn middle-text-resp grey-medium nopnom" %>
      </div>

      <% if client_signed_in? && current_client.role == "admin" %>
        <div class="add-new">
          <%= link_to new_product_path do %>
            <p>Ajouter un produit</p>
            <%= image_tag "add-circle.svg" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if (current_client && current_client.segment == 'magasin') %>
  <script>
    let prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents_shop).to_h.to_json %>');
  </script>
<% else %>
  <script>
    let prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents).to_h.to_json %>');
  </script>
<% end %>
<script>
    let remainingQuantities = JSON.parse('<%= raw Product.remaining_quantities(current_client).to_h.to_json %>');
    let ratiosQuantities = JSON.parse('<%= raw Product.ratios_quantities(current_client).to_h.to_json %>');
    let descriptions = JSON.parse('<%= raw Product.descriptions.to_h.to_json %>');
</script>

<div class="main-container">

  <div class="container-index-products">
    <% @products.each do |product| %>
      <% uuid = product.id %>
        <div class="card-product">
        <% if product.photo.attached? %>
          <% if client_signed_in? && current_client.role == "admin" %>
            <%= link_to product_path(product) do %>
              <%= cl_image_tag product.photo.key, alt: "image produit" %>
            <% end %>
          <% else %>
            <%= cl_image_tag product.photo.key, alt: "image produit", class:"JSproductname",  :data => { :target => "#descriptionModal", :toggle => "modal", :uuid => uuid } %>
          <% end %>
        <% end %>

        <% unless client_signed_in? && current_client.role == "admin" %>
          <div class="card-product-infos">
        <% else %>
          <div class="card-product-infos" style="cursor:pointer;" onclick="location.href='<%= product_path(product) %>'">
        <% end %>

          <!-- Card display NA/top-middle: category -->
          <div class="card-product-text-line">
            <% if current_client && current_client.role == "admin" %>
              <p class="semi-small-text grey-medium"><%= product.product_category %> </p>
            <% end %>
            <!-- Card display top-middle/top-right: price -->
            <div class="product-price">
               <p class="semi-small-text-bold green">
                <p><%= product.display_price(current_client, @type_price) %> €
                <sup>
                  <% if current_client && current_client.segment == 'magasin' %> HT <% end %>
                  /
                  <%= product.unit_type %>
                </sup>
            </div>
          </div>
          <!-- Card display center-middle: name -->
          <div class="card-product-text-line">
            <p class="big-text-bold-resp grey-dark JSproductname" data-toggle="modal" data-target="#descriptionModal" data-uuid="<%= uuid %>">
              <%= product.name %>
            </p>
          </div>
          <!-- Card display bottom-middle: quantity per unit_measure of unit measure quantity -->
          <div class="card-product-text-line">
            <p class="semi-small-text-bold-resp <%= if product.total_remaining_quantity == 0 then 'red-alert bold' else 'grey-medium' end %>">
              <%= pluralize(product.display_quantity(current_client, @type_price, product), product.unit_type) %>
                de
                  <%= product.display_unit_measure_quantity(current_client, @type_price, product) %>
                  <%= product.display_unit_measure(current_client, @type_price, product) %>
            </p>
          </div>
        </div> <!-- Card-product-infos -->

        <% if (current_client && current_client.role != "admin") %>
          <div class="card-product-order-input">
              <i class="fas fa-plus green JSpluscounterproductindex pl-1 pr-1" data-uuid="<%= uuid %>"></i>
              <span class="hidden green-light pl-1 pr-1" id=<%= uuid %>>0</span> <!-- quantité commandée -->
              <i class="hidden fas fa-minus green JSminuscounterproductindex pl-1 pr-1" data-uuid="<%= uuid %>"></i>
              <span class="hidden JSpriceperlineproductindex green-light very-small-text pl-1 pr-1" data-uuid="<%= uuid %>">0</span>
          </div>
        <% end %>

      </div>
    <% end %> <!-- Fin de l'itération sur les produits -->
  </div>

</div>
