<h1 class="page-title">Produits</h1>

<div class="main-container">
  <div class="container-index-products">
    <% @products.each do |product| %>
      <div class="card-product" >
        <%= cl_image_tag product.photo.key, width: 300, height: 200, crop: :fill %>
        <div class="card-product-infos">
          <div class="card-product-subelement">
            <p> <%= product.product_category %> </p>
            <h3><%= (product.unit_price_cents/100).to_i %> €
              <% if product.unit_type == 'decigramme' %>
                <sup>/kg </sup></h3>
              <% else %>
                <sup>/<%= product.unit_type %> </sup></h3>
              <% end %>
          </div>
          <div>
            <h1><%= product.name %> </h1>
          </div>
          <div class="card-product-subelement pr-3">
            <% if product.unit_type == 'decigramme' %>
            <h2><%= product.total_remaining_quantity/100 %> kgs</h2>
            <% else %>
            <h2><%= product.total_remaining_quantity %> <%= product.unit_type %>s</h2>
            <% end %>
            <%= link_to image_tag('pencil-write-2-grey-light.svg'), product_path(product) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
