<div class="page-title pl60 pt40">Produits</div>

<div class="main-container">
  <div class="container-index-products">
    <% @products.each do |product| %>
      <div class="card-product" style="cursor:pointer;" onclick="location.href='<%= product_path(product) %>'">
        <%= cl_image_tag product.photo.key, alt: "image produit" %>
        <%#= cl_image_tag product.photo.key, alt: "image produit", :width=>"150", :height=>"120" %>
        <div class="card-product-infos">
          <div class="card-product-text-line">
            <p class="semi-small-text grey-medium"><%= product.product_category %> </p>
            <p class="semi-small-text-bold green">
            <% if product.unit_type == 'decigramme' %>
              <%= (product.unit_price_cents).to_i %> €
                <sup>/ kg </sup>
              <% else %>
              <%= (product.unit_price_cents)/100.to_i %> €
                <sup>/ <%= product.unit_type %> </sup>
              <% end %>
            </p>
          </div>
          <div>
            <p class="big-text-bold grey-dark"><%= product.name %> </p>
          </div>
          <div class="card-product-text-line">
            <p class="semi-small-text-bold <%= if product.total_remaining_quantity == 0 then 'red-alert bold' else 'grey-medium' end %>">
              <% if product.unit_type == 'decigramme' %>
                <%= pluralize(product.total_remaining_quantity/100, "kg") %>
              <% else %>
                <%= pluralize(product.total_remaining_quantity, product.unit_type) %>
              <% end %>
            </p>
            <%= link_to image_tag('pencil-write-2-grey-light.svg'), product_path(product) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
