<div class="title-container">
  <div class="page-title">Produits
    <% if client_signed_in? && current_client.role == "admin" %>
      <div class="add-new">
        <%= link_to new_product_path do %>
          <p>Ajouter un produit</p>
          <%= image_tag "add-circle.svg" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- TOGGLE PRICE DIRECT / SHOP -->
   <div id="price_toggle" class="middle-text grey-medium right-header pr65">
      Prix particulier
    </div>

  <!-- FILTERS DIV -->
  <div class="container-index-filters pl60">

    <!-- Fruit filter -->
    <div id="product_fruit" class="middle-text grey-medium mr5 white">
    <%= if params[:fruit].present? then params[:fruit] else 'Fruit' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <div id="DropdownFruit" class="dropdown-content">
        <% Product.fruits.each do |fruit| %>
          <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
        <% end %>
      </div>
    </div>

    <!-- Category filter -->
    <div id="product_category" class="middle-text grey-medium mr5">
    <%= if params[:category].present? then params[:category] else 'Catégorie' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <div id="DropdownCategory" class="dropdown-content">
      <% Product.categories.each do |category| %>
        <a data-name="<%= category %>" href="#"><%= category %></a>
      <% end %>
      </div>
    </div>

    <!-- Type filter -->
    <div id="product_type" class="middle-text grey-medium mr5">
    <%= if params[:type].present? then params[:type] else 'Type' end %>
    </div>
    <div class="dropdown">
      <i class="fas fa-chevron-down middle-text grey-medium pr35"></i>
      <!-- <button class="dropbtn">Type</button> -->
      <div id="DropdownType" class="dropdown-content">
      <% Product.types.each do |type| %>
        <a data-name="<%= type %>" href="#"><%= type %></a>
      <% end %>
      </div>
    </div>

    <!-- Reset filters -->
    <%= link_to "Effacer les filtres", products_path, id: "clearing_filter_link", class: "btn middle-text grey-medium nopnom" %>

    <!-- Price Direct/Shop toggle -->

  </div>



</div>

<div class="main-container">
  <div class="container-index-products">
    <% @products.each do |product| %>
      <div class="card-product" style="cursor:pointer;" onclick="location.href='<%= product_path(product) %>'">
        <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, alt: "image produit" %>
        <% end %>
        <div class="card-product-infos">
          <div class="card-product-text-line">
            <p class="semi-small-text grey-medium"><%= product.product_category %> </p>
            <p class="semi-small-text-bold green">
              <%= (product.unit_price_cents)/100.to_i %> €
                <sup>/ <%= product.unit_type %> </sup>
            </p>
          </div>
          <div>
            <p class="big-text-bold grey-dark"><%= product.name %> </p>
          </div>
          <div class="card-product-text-line">
            <p class="semi-small-text-bold <%= if product.total_remaining_quantity == 0 then 'red-alert bold' else 'grey-medium' end %>">
                <%= pluralize(product.total_remaining_quantity, product.unit_type) %>
                de
                <% unless product.unit_measure_quantity >= 1000 && product.unit_measure = "g" %>
                  <%= product.unit_measure_quantity %>
                  <%= product.unit_measure %>
                <% else %>
                  <%= product.unit_measure_quantity / 1000 %>
                  kg
                <% end %>
            </p>
            <%= link_to image_tag('pencil-write-2-grey.svg'), product_path(product) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
