<div class="client-new-order">
  <% if (current_client && current_client.role != "admin") %>

    <div class="col-6 col-lg-3 product-index-new-order"> <!-- sticky-top filterstick -->
      <%= simple_form_for @order do |ff| %>
        <p class="bold">
          Total : <span id="totalpriceproductindex">0</span><sup> €</sup>
        </p>
          <div style="display:none;">
            <%= ff.simple_fields_for :order_lines, wrapper: :inline_form do |f| %>
              <%= render '/orders/order_line_fields', f: f %>
            <% end %>
          </div>
          <%= ff.submit 'Valider la commande', class: 'btn btn-lg btn-block submit-btn-green' %>
      <% end %>
    </div>

  <% end %>

  <div class="col-12 col-lg-12">
    <div class="title-container">
      <!-- FILTERS DIV -->
      <div class="container-index-filters">
          <!-- Fruit filter -->
        <div id="product_fruit" class="middle-text-resp grey-medium mr5 white">
        <%= if params[:fruit].present? then params[:fruit] else 'Fruit' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownFruit" class="dropdown-content">
            <% Product.fruits.each do |fruit| %>
              <a data-name="<%= fruit %>" href="#"><%= fruit %></a>
            <% end %>
          </div>
        </div>
        <!-- Category filter -->
        <div id="product_category" class="middle-text-resp grey-medium mr5">
        <%= if params[:category].present? then params[:category] else 'Catégorie' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownCategory" class="dropdown-content">
          <% Product.categories.each do |category| %>
            <a data-name="<%= category %>" href="#"><%= category %></a>
          <% end %>
          </div>
        </div>
        <!-- Type filter -->
        <div id="product_type" class="middle-text-resp grey-medium mr5">
        <%= if params[:type].present? then params[:type] else 'Type' end %>
        </div>
        <div class="dropdown">
          <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
          <div id="DropdownType" class="dropdown-content">
          <% Product.types.each do |type| %>
            <a data-name="<%= type %>" href="#"><%= type %></a>
          <% end %>
          </div>
        </div>
        <!-- Price filter -->
        <% if current_client && current_client.role == "admin" %>
          <div id="product_price" class="middle-text-resp grey-medium mr5">
            <%= if params[:price].present? then params[:price] else 'Prix' end %>
          </div>
          <div class="dropdown">
            <i class="fas fa-chevron-down middle-text-resp grey-medium prfilters"></i>
            <div id="DropdownPrice" class="dropdown-content">
              <a data-name="non-magasin" href="#">non-magasin</a>
              <a data-name="magasin" href="#">magasin</a>
            </div>
          </div>
        <% end %>
        <!-- Reset filters -->
        <%= link_to "Effacer les filtres", products_path, id: "clearing_filter_link", class: "btn middle-text-resp grey-medium nopnom" %>
      </div>

      <% if client_signed_in? && current_client.role == "admin" %>
        <div class="add-new">
          <%= link_to new_product_path do %>
            <p>Ajouter un produit</p>
            <%= image_tag "add-circle.svg" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script> <!-- script génère du code JS en HTML  -->
  let prices = JSON.parse('<%= raw Product.pluck(:id,:unit_price_cents).to_h.to_json %>');
  let remainingQuantities = JSON.parse('<%= raw Product.remaining_quantities.to_h.to_json %>');
</script>

<div class="main-container">
  <div class="container-index-products">
    <% @products.each do |product| %>

      <% uuid = product.id %>

      <!-- <div class="card-product" style="cursor:pointer;" onclick="location.href='<%= product_path(product) %>'"> --> <!-- Faisait un lien vers la product_show quand on cliquait n'importe où sur la carte -->
      <div class="card-product">
        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key, alt: "image produit" %>
        <% end %>
        <div class="card-product-infos">
          <!-- Card display NA/top-middle: category -->
          <div class="card-product-text-line">
            <% if current_client && current_client.role == "admin" %>
              <p class="semi-small-text grey-medium"><%= product.product_category %> </p>
            <% end %>
            <!-- Card display top-middle/top-right: price -->
            <div class="product-price">
               <p class="semi-small-text-bold green">

                <p><%= product.display_price(current_client, @type_price) %> €
                <sup>
                  <% if current_client && current_client.segment == 'magasin' %> HT <% end %>
                  /
                  <%= product.unit_type %>
                </sup>

            </div>
          </div>
          <!-- Card display center-middle: name -->
          <div class="card-product-text-line">
            <p class="big-text-bold-resp grey-dark">
            <span title="<%= product.description %>"> <%= product.name %> </span>
            <%= link_to product_path(product) do %>
              <% if (current_client && current_client.role == "admin") %>
                <sup><i class="far fa-edit grey-medium semi-small-text pl5"></i>
              <% else %>
                <sup><i class="fas fa-question grey-medium very-small-text pl5"></i></sup>
              <% end %>
            <% end %>
            </p>
          </div>
          <!-- Card display bottom-middle: quantity per unit_measure of unit measure quantity -->
          <div class="card-product-text-line">
            <p class="semi-small-text-bold <%= if product.total_remaining_quantity == 0 then 'red-alert bold' else 'grey-medium' end %>">
            <% if (current_client && current_client.role == "admin" && @type_price == "magasin") %>
              <%= pluralize(product.display_quantity(current_client, @type_price, product), product.unit_type) %>
                de
                <% unless product.unit_measure_quantity_shop >= 1000 && product.unit_measure = "g" %>
                  <%= product.unit_measure_quantity_shop %>
                  <%= product.unit_measure %>
                <% else %>
                  <%= product.unit_measure_quantity_shop / 1000 %>
                  kg
                <% end %>
            <% elsif (current_client && current_client.role == "admin") %>
              <%= pluralize(product.display_quantity(current_client, @type_price, product), product.unit_type) %>
                de
                <% unless product.unit_measure_quantity >= 1000 && product.unit_measure = "g" %>
                  <%= product.unit_measure_quantity %>
                  <%= product.unit_measure %>
                <% else %>
                  <%= product.unit_measure_quantity / 1000 %>
                  kg
                <% end %>
            <% elsif (current_client && current_client.segment == 'magasin') %>
              <%= product.unit_type %>
                de
              <% unless product.unit_measure_quantity_shop >= 1000 && product.unit_measure = "g" %>
                <%= product.unit_measure_quantity_shop %>
                <%= product.unit_measure %>
              <% else %>
                <%= product.unit_measure_quantity_shop / 1000 %>
                kg
              <% end %>
            <% else %>
                <%= product.unit_type %>
                de
                <% unless product.unit_measure_quantity >= 1000 && product.unit_measure = "g" %>
                  <%= product.unit_measure_quantity %>
                  <%= product.unit_measure %>
                <% else %>
                  <%= product.unit_measure_quantity / 1000 %>
                  kg
                <% end %>
            <% end %>
            </p>
            <%# if (current_client && current_client.role == "admin") %>
               <%#= link_to image_tag('pencil-write-2-grey.svg'), product_path(product) %>
            <%# end %>
          </div>
        </div>
        <% if (current_client && current_client.role != "admin") %>
          <div class="card-product-order-input">
              <i class="fas fa-plus green JSpluscounterproductindex" data-uuid="<%= uuid %>"></i>
              <span class="green-light" id=<%= uuid %>>0</span> <!-- quantité commandée -->
              <i class="fas fa-minus green JSminuscounterproductindex" data-uuid="<%= uuid %>"></i>
              <span class="JSpriceperlineproductindex green-light very-small-text" data-uuid="<%= uuid %>">0</span>
          </div>
        <% end %>
      </div>
    <% end %> <!-- Fin de l'itération sur les produits -->
  </div>
</div>
