<div class="new-order-main-container" >
  <div class="container new-order">
    <div class="new-order-title page-title">
      <p>Nouveau produit</p>
    </div>
    <div class="container">
      <%= simple_form_for @product, defaults: { input_html: { class: 'new-product-input' } } do |f| %>
        <%= f.input :name, placeholder: 'Nom', label: false %>
        <%= f.input :description, placeholder: 'Description', label: false %>
        <%= f.input :unit_price_cents, placeholder: 'Prix en centimes', label: false %>
        <%= f.input :unit_type, prompt: 'Unité de mesure', label: false, collection: Product.units %>
        <%= f.input :product_fruit, prompt: 'Fruit', label: false, collection: Product.fruits %>
        <%= f.input :product_type, prompt: 'Type', label: false, collection: Product.types %>
        <%= f.input :product_category, prompt: 'Catégorie', label: false, collection: Product.categories %>
        <%= f.input :photo, prompt: 'Ajouter une photo', as: :file, label: false %>
        <%= f.submit 'Créer le produit', class: 'btn btn-lg btn-block submit-btn' %>
      <% end %>
    </div>
  </div>
</div>



