<div class="main-container-show">
  <div class="container pt-5">
    <div class="card-product-show">
      <div class="card-product-show-img"><%= cl_image_tag @product.photo.key, :width=>350, :crop=>"scale" %></div>

      <div class="card-product-show-infos">
        <div class="card-product-show-flex pb-5">
          <span class="big-text semi-bold grey-medium"><%= @product.product_category.capitalize%></span>
          <%= link_to product_path(@product), data: { confirm: ("Etes-vous sûr(e) de vouloir supprimer ce produit ?") }, method: :delete do %>
            <i class="far fa-trash-alt blue big-text"></i>
          <% end %>
        </div>
        <p class="card-product-show-title text-center"><%=@product.name.capitalize%></p>
        <div class="card-product-show-flex">
          <span class="card-product-show-type">Particulier</span>
          <span class="card-product-show-type">Magasin</span>
        </div>
        <div class="card-product-show-flex">
          <span class="card-product-show-price">
            <%= display_price(@product, 'non-magasin') %> €
            <sup>/ <%= @product.unit_type %>
            de <%= display_unit_measure_quantity('non-magasin', @product) %> <%= display_unit_measure('non-magasin', @product) %></sup>
          </span>
          <span class="card-product-show-price">
            <%= display_price(@product, 'magasin') %> €
            <sup>/ <%= @product.unit_type %>
            de <%= display_unit_measure_quantity('magasin', @product) %> <%= display_unit_measure('magasin', @product) %></sup>
          </span>
        </div>
        <p class="product-show-description text-center pt-4"><%= @product.description%></p>

          <div class="card-product-stock">
            <%= simple_form_for [@product, @product_lot], html: { class: 'form-inline' } do |f| %>
            <!-- l'initialisation du formulaire est réalisée en dehors du tes tag table/tbdody/tr car 'A form is not allowed to be a child element of a table, tbody or tr' cf. https://stackoverflow.com/questions/5967564/form-inside-a-table -->
            <table class="table">
              <thead class="scroll-thead">
                <tr class="card-product-show-table">
                  <th style="padding-right: 40px;" scope="col">N°lot</th>
                  <th style="padding-right: 20px;" scope="col">Date de production</th>
                  <th style="padding-right: 35px;" scope="col">Date d'expiration</th>
                  <th style="padding-right: 20px;" scope="col">Quantité</th>
                  <th style="width: 80px;"scope="col"></th>
                </tr>
              </thead>
              <tbody class="scroll-tbody-y table-body">

                  <td> <%= f.input :lot_number, label: false, :input_html => {:maxlength =>6,:style=> 'width: 75px'} %></td>
                  <td> <%= f.input :production_date, label: false, as: :string, :input_html => {:maxlength =>10, :style=> 'width: 160px', class: 'production_date'} %></td>
                  <td> <%= f.input :expiry_date, label: false, as: :string, :input_html => {:maxlength =>10, :style=> 'width: 160px', class: 'expiry_date'} %></td>
                  <td> <%= f.input :quantity, label: false, as: :string, :input_html => {:maxlength =>6,:style=> 'width: 70px'}  %></td>
                  <td> <%= f.submit "", :type => :image, :src => image_path("add-circle.svg"), class: 'picto-add' %></td>
                <% end %>

                <% @product.product_lots.unexpired.each do |product_lot|%>
                  <tr>
                    <th scope="row"><%=product_lot.lot_number%></th>
                    <td><%=l(product_lot.production_date, format: :long)%></td>
                    <td><%=l(product_lot.expiry_date, format: :long) %></td>
                    <td style="padding-left: 45px;"><%= product_lot.remaining_quantity %></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="card-product-show-footer">
            <span class="card-product-total-stock">Stock total</span>
            <span class="card-product-total-stock"><%= pluralize(@product.total_remaining_quantity,@product.unit_type) %></span>
          </div>

      </div>

    </div>
  </div>
</div>
