<div class="container">
  <div class="card-product-show">
    <div class="card-product-show-img">
      <%= cl_image_tag @product.photo.key%>
    </div>
  <div class="card-product-show-infos">

    <div class="card-product-show-header">
      <span class="product-show-category"><%= @product.product_category.capitalize%></span>
      <div class="card-product-show-title">
        <h1 class="page-title"><%=@product.name.capitalize%><h1>
        <span class="card-product-show-price"><%= (@product.unit_price_cents/100).to_i %> €
              <% if @product.unit_type == 'decigramme' %>
                <sup>/kg </sup></span>
              <% else %>
                <sup>/<%= @product.unit_type %> </sup></span>
              <% end %>
      </div>
      <p class="product-show-description"><%= @product.description%></p>
    </div>

    <div class="card-product-stock">
      <div class="form-content">
        <%= simple_form_for [@product, @product_lot], html: { class: 'form-inline' } do |f| %>
          <%= f.input :lot_number, label: false, class: 'input-small'%>
          <%= f.input :production_date, label: false, as: :date %>
          <%= f.input :expiry_date, label: false, as: :date%>
          <%= f.input :quantity, label: false %>
          <%= f.submit do%>
            <%= image_tag "add-circle.svg" %>
          <% end %>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr class="card-product-show-table">
            <th scope="col">N°lot</th>
            <th scope="col">Date de production</th>
            <th scope="col">Date d'expiration</th>
            <th scope="col">Quantité</th>
          </tr>
        </thead>
        <tbody>
          <% @product.product_lots.each do |product_lot|%>
            <tr>
              <th scope="row"><%=product_lot.lot_number%></th>
              <td><%=product_lot.production_date%></td>
              <td><%=product_lot.expiry_date %></td>
              <td><%=product_lot.remaining_quantity%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="card-product-show-footer">
      <span class="card-product-total-stock">Total stock</span>
      <span class="card-product-total-stock"> <%= @product.total_remaining_quantity%>
              <% if @product.unit_type == 'decigramme' %>
                kg</span>
              <% else %>
                <%= @product.unit_type %></span>
              <% end %>
    </div>

  </div>

  </div>
</div>
